@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Zen+Kurenaido&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
body {
    height: 100%;
    background: url(top.jpg);
    background-size: 50%;
    background-repeat: repeat;
}
.wrapper {
    background-color: #ffcdcd;
    width: 100%;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
}
.auto {
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 2s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.lace-1 img {
    position: relative;
}
.lace-2 img {
    position: absolute;
    top: 950px;
}
.slider_top img {
    position: absolute;
    top: 220px;
}
.navitop {
    cursor: pointer;
}
.navi :hover {
    transform: scale(1.05);
    z-index: 1;
}
.navi {
    position: absolute;
    top:-36px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    padding: 0 20px;
}
.text_top {
    position: relative;
    top: 730px;
    color: #fb7e93;
    font-family: "Zen Kurenaido", serif;
    font-size: 42px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top {
    max-width: 990px;
}
#container1 {
    background: url(bg1_pc.png);
    max-width: 990px;
    position: relative;
    top: 885px;
    height: 1505px;
}
#container2 {
    background: url(bg2_pc.png);
    max-width: 990px;
    position: relative;
    top: 880px;
    height: 1595px;
}
#container3 {
    background: url(bg3_pc.png);
    max-width: 990px;
    position: relative;
    top: 880px;
    height: 1704px;
}
#container4 {
    background: url(bg4_pc.png);
    max-width: 990px;
    position: relative;
    top: 880px;
    height: 2097px;
}
#container5 {
    background: url(bg5_pc.png);
    max-width: 990px;
    position: relative;
    top: 880px;
    height: 1092px;
    text-align: center;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #fb7e93;
    color: #fcf7e7;
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
    font-size: 28px;
  }
  
#myBtn:hover {
    background-color: #aee1dd;
}

.mySlides1 {
    display: none;
    height: 450px;
}
.mySlides2 {
    display: none;
    height: 490px;
}
.mySlides3 {
    display: none;
    height: 485px;
}
.mySlides4 {
    display: none;
    height: 490px;
}

.mySlides1 img  {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    border: none;
    border-radius: 60px;
}
.mySlides2 img {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 210px;
    border: none;
    border-radius: 60px;
}
.mySlides3 img {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    border: none;
    border-radius: 60px;
}
.mySlides4 img {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
    border: none;
    border-radius: 60px;
}

.mySlides1 .text1-1 {
    font-family: "Zen Kurenaido", serif;
    color: #fb7e93;
    padding-top: 70px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.mySlides1 .text1-2 {
    font-family: "Zen Kurenaido", serif;
    color: #fb7e93;
    padding-top: 70px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.mySlides2 .text2 {
    font-family: "Zen Kurenaido", serif;
    color: #f08a8a;
    padding-top: 60px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.mySlides3 .text3 {
    font-family: "Zen Kurenaido", serif;
    color: #ffd8db;
    padding-top: 55px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.mySlides4 .text4 {
    font-family: "Zen Kurenaido", serif;
    color: #fb7e93;
    padding-top: 60px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.review {
    font-family: "Zen Kurenaido", serif;
    margin-top: 490px;   
    font-weight: bold;
}
.gede {
    color: #fb7e93;
    font-size: 48px;
    text-align: center;
}
.kicik {
    color: #f19b9b;
    padding-top: 20px;
    font-size: 32px;
    display: flex;
    justify-content: center;
}
.text5 {
    font-family: "Zen Kurenaido", serif;
    color: #fb7e93;
    padding-top: 30px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.prev1, .next1 {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 18px;
    color: #fb7e93;
    background-color: #ffcdcd;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    user-select: none;
    margin: 380px 60px;
}
.prev2, .next2 {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 18px;
    color: #fff7dd;
    background-color: #f19b9b;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    user-select: none;
    margin: 400px 70px;
}
.prev3, .next3 {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 18px;
    color: #fb7e93;
    background-color: #ffd8da;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    user-select: none;
    margin: 300px 70px;
}
.prev4, .next4 {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 18px;
    color: #fb7e93;
    background-color: #ffcdcd;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    user-select: none;
    margin: 420px 75px;
}

.next {
    right: 0;
}
.prev:hover, .next:hover {
    transform: scale(1.3);
    z-index: 1;
}

.dot1, .dot2, .dot4 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffcdcd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot3 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #fefbf6;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot1:hover, .dot2:hover, .dot4:hover {
    background-color: #f08a8a;
}
.dot3:hover {
    background-color: #ffc9c9;
}
.active {
    background-color: #aee1dd;
}

#title1 {
    position: relative;
    text-align: center;
    top: 160px;
}
#title2 {
    position: relative;
    text-align: center;
    top: 185px;
}
#title3 {
    position: relative;
    text-align: center;
    top: 70px;
}
#title4 {
    position: relative;
    text-align: center;
    top: 200px;
}

.famipa {
    display: flex;
    text-align: center;
    font-family: "Zen Kurenaido", serif;
    font-size: 26px;
    font-weight: bold;
    justify-content: space-between;
    margin-top: 300px;
    margin-left: 75px ;
    margin-right: 60px;
}
.plan1-1.pc {
    color: #5b6dd6;
}
.plan1-2.pc {
    color: #e27474;
}
@media screen and (min-width: 426px) {
    .plan1-1.hp, .plan1-2.hp {
    display: none;
    }
    .pesawat img {
        width: 40%;
        display: inline;
        justify-self: space-between;
        margin: 40px 20px ;
    }
    .jal.hp, .ana.hp {
        display: none;
    }
}
.plan2 {
    color: #fffcf3;
    text-align: center;
    font-family: "Zen Kurenaido", serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    margin-top: 280px;
}
.plan3-1, .harga1 {
    color: #fc728b;
}
.plan3-2, .harga2 {
    color: #fffafc;
}
.camppa {
    display: inline;
    text-align: center;
    font-family: "Zen Kurenaido", serif;
    font-size: 26px;
    font-weight: bold;
    justify-content: space-between;
    margin-top: 300px;
    margin-left: 75px ;
    margin-right: 60px;
}
.plan3-1 {
    margin: 310px 40px 0;
}
.plan3-2 {
    margin: 90px 40px 0;
}
.flex {
    display: flex;
    justify-content: space-between;
    margin: 5px 170px 0 70px;
}
.harga1, .harga2 {
    text-align: center;
    justify-content: space-between;
    margin: 0 90px;
}

.highlight1 {
    background-color: #fffafc;
    border: none;
    border-radius: 40px;
}
.highlight2 {
    background-color: #fc728b;
    border: none;
    border-radius: 40px;
}

.kupon {
    text-align: center;
}
.kupon img {
    margin-top: 20px;
}
.decor {
    position: absolute;
    top: 295px;
}
.last img {
    margin-top: 20px;
}

.button1 {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 120px;
    margin-right: 120px;
}
.button2 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.button3-1 {
    cursor: pointer;
    margin-top: 20px;
}
.button3-2 {
    cursor: pointer;
    margin-top: 20px;
}
.button4 {
    cursor: pointer;
}
.button5 {
    cursor: pointer;
}

.button1 :hover {
    transform: scale(1.05);
    z-index: 1;
}
.button2 :hover {
    transform: scale(1.125);
    z-index: 1;
}
.button3-1:hover, .button3-2:hover, .last:hover {
    transform: scale(1.15);
    z-index: 1;
}
.button4:hover, .jal:hover, .ana:hover {
    transform: scale(1.1);
    z-index: 1;
}